# Global
SN_ENV=dev

# ServiceNow
SN_INSTANCE_URL=https://goodyeardev.service-now.com
SN_USERNAME=your_sn_user
SN_PASSWORD=your_sn_password
SN_TASK_GROUP=LARE TELECOM L3
SN_TASK_DESCRIPTION=Verificar se alguma rede foi encontrada com os nomes de redes conhecidos pela Goodyear
OUTLOOK_FOLDER=Prime Infrastructure
TARGET_MAILBOX=rafael_pereiratonon@goodyear.com
ROGUE_PDF_SUBJECT=Cisco Prime Report
AP_ROGUE_PDF_DIR=C:\\Users\\<user>\\Downloads\\AP Rogue

# Cisco EoX
EOX_EXCEL=CMDB/network_eox.xlsx
EOX_SHEET_NAME=--all-sheets
EOX_CACHE=CMDB/eox_cache.json
EOX_REFRESH=1
CISCO_CLIENT_ID=your_client_id
CISCO_CLIENT_SECRET=your_client_secret
# Optional Cisco settings
CISCO_SCOPE=
CISCO_DEBUG_OAUTH=0
CISCO_DEBUG_EOX=0

# IOS Upgrade
SSH_USERNAME=
SSH_PASSWORD=
